<div class="position-absolute top-0 start-5 mt-5">
  <%= link_to "← Back", root_path, class: "text-primary text-decoration-none fs-4" %>
</div>

<div class="mt-5 text-center">
  <% if @poll %>
    
    <h1 class="text-center fw-bold mb-5 fs-2"><%= @poll.question %></h1>

    <div class="d-flex flex-column align-items-center justify-content-center mt-5">
      <div class="w-100">
        <div id="poll_options_<%= @total_votes %>" class="row">
          <%= render partial: "polls/options", locals: { poll: @poll, total_votes: @total_votes } %>
        </div>

        <% if flash[:notice] %>
          <div id="flash" data-controller="flash" class="alert alert-success mt-5" role="alert">
            <%= flash[:notice] %>
          </div>
        <% else %>
          <div id="flash" data-controller="flash"></div>
        <% end %>
      </div>
    </div>
  <% else %>
    <h3>Poll doesn't exist.</h3>
  <% end %>
</div>
